In [1]:
import pandas as pd

In [2]:
with open('/home/vp.shivasan/word_segmentation/working_dir/data/10K_test-v1/overall_test_chardata.txt','r') as f:
    lines = f.readlines()

In [3]:
def return_max_len(lines):
    lengths = []
    curr_len = 0
    for i in range(len(lines)):
        curr_len+=1
        if(lines[i] == '\n'):
            lengths.append(curr_len)
            curr_len = 0
    return max(lengths)

In [4]:
return_max_len(lines=lines)

4228

In [5]:
# remove overflow
curr_len = 0
new_lines = []
noverflow = 0
do_not_add = False
curr_lines = []
skip = False
for i in range(len(lines)):
    if(skip):
        if(lines[i] == "\n"):
            skip = False
            curr_lines = []
            curr_len = 0
            
        continue

    curr_len+=1
    curr_lines.append(lines[i])

    if(lines[i] == '\n'):
        new_lines.extend(curr_lines)
        curr_lines = []
        curr_len = 0
        continue
        
    if(curr_len>150):
        skip = True
        noverflow+=1
        continue

In [6]:
noverflow

2297

In [7]:
len(new_lines)

549177

In [8]:
len(lines)

1187470

In [9]:
return_max_len(new_lines)

151

In [10]:
with open('/home/vp.shivasan/word_segmentation/working_dir/data/new_training_data/character_data/overall_test_cut_150.txt','w') as f:
    f.writelines(new_lines)

In [17]:
df = pd.read_csv('/home/vp.shivasan/word_segmentation/working_dir/data/10K_test-v1/overall_test_sents.csv')

In [18]:
new_df = df.copy()

In [19]:
new_df[new_df["input"].str.len() <= 150].to_csv("/home/vp.shivasan/word_segmentation/working_dir/data/10K_test-v1/overall_test_sents_cut_150.csv")

In [20]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/home/vp.shivasan/word_segmentation/working_dir/data/new_training_data/sentence_data/collection_train_1_2_cut_150.csv')
df2 = pd.read_csv('/home/vp.shivasan/word_segmentation/working_dir/data/new_training_data/sentence_data/collection_test_1_2_cut_150.csv')

In [3]:
concat_df = pd.concat([df1,df2])
concat_df.drop()

,Unnamed: 0,UID,input,output
0,0,306690,medasvino_viSoDyA_ye_ca_narAH_kuzWamehArtAH,medasvinaH_viSoDyAH_ye_ca_narAH_kuzWa_meha_ArtAH
1,1,135745,smarantI_tasya_mandasya_kaM_vA_sAdyopatizWati,smarantI_tasya_mandasya_kam_vA_sA_adya_upatizWati
2,2,19559,te_vA_ete_yajQakramAH,te_vA_ete_yajQa_kramAH
3,3,593287,imaM_navajvare_dadyAnmAzamAtraM_rasasya_tu,imam_navajvare_dadyAt_mAza_mAtram_rasasya_tu
4,4,100331,lokayAtrA_hi_kArtsnyena_trizvetezu_pratizWitA,lokayAtrA_hi_kArtsnyena_trizu_etezu_pratizWitA
...,...,...,...,...
2122,2241,233756,ganDatAlakasinDUtTaM_cUlIwaFkaNaBUKagam,ganDa_tAlaka_sinDUtTam_cUlI_waFkaNa_BUKagam
2123,2242,15920,PANwAhRtimimatAByAM_NaPiQO,PANwAhRti_mimatAByAm_Na_PiQO
2124,2243,93103,ayaM_soma_indra_tuByaM_sunva_A_tu_pra_yAhi_har...,ayaM_soma_indra_tuByaM_sunva_A_tu_pra_yAhi_har...
2125,2244,503422,pUrvavaddakziNe_BAge_viprAnzoxaSa_saMsTitAn,pUrvavat_dakziNe_BAge_viprAn_zoxaSa_saMsTitAn
2126,2245,18673,aDiSIFsTAsAM_karma,aDi_SIF_sTA_AsAm_karma

In [6]:
concat_df = concat_df.drop(["Unnamed: 0"],axis=1)
concat_df

,UID,input,output
0,306690,medasvino_viSoDyA_ye_ca_narAH_kuzWamehArtAH,medasvinaH_viSoDyAH_ye_ca_narAH_kuzWa_meha_ArtAH
1,135745,smarantI_tasya_mandasya_kaM_vA_sAdyopatizWati,smarantI_tasya_mandasya_kam_vA_sA_adya_upatizWati
2,19559,te_vA_ete_yajQakramAH,te_vA_ete_yajQa_kramAH
3,593287,imaM_navajvare_dadyAnmAzamAtraM_rasasya_tu,imam_navajvare_dadyAt_mAza_mAtram_rasasya_tu
4,100331,lokayAtrA_hi_kArtsnyena_trizvetezu_pratizWitA,lokayAtrA_hi_kArtsnyena_trizu_etezu_pratizWitA
...,...,...,...
2122,233756,ganDatAlakasinDUtTaM_cUlIwaFkaNaBUKagam,ganDa_tAlaka_sinDUtTam_cUlI_waFkaNa_BUKagam
2123,15920,PANwAhRtimimatAByAM_NaPiQO,PANwAhRti_mimatAByAm_Na_PiQO
2124,93103,ayaM_soma_indra_tuByaM_sunva_A_tu_pra_yAhi_har...,ayaM_soma_indra_tuByaM_sunva_A_tu_pra_yAhi_har...
2125,503422,pUrvavaddakziNe_BAge_viprAnzoxaSa_saMsTitAn,pUrvavat_dakziNe_BAge_viprAn_zoxaSa_saMsTitAn
2126,18673,aDiSIFsTAsAM_karma,aDi_SIF_sTA_AsAm_karma

In [7]:
concat_df.to_csv('/home/vp.shivasan/word_segmentation/working_dir/data/new_training_data/sentence_data/collection_1_2_cut_150.csv',index=None)

In [11]:
import pandas as pd

In [21]:
# collection3_test_df = pd.read_csv('/home/vp.shivasan/word_segmentation/working_dir/data/new_training_data/sentence_data/collection3_cut_150.csv')
overall_test_df = pd.read_csv('/home/vp.shivasan/word_segmentation/working_dir/data/10K_test-v1/overall_test_sents_cut_150.csv')

collection1_df = pd.read_csv('/home/vp.shivasan/word_segmentation/TransLIST-H22/H22-data/collection1_sent_Translist_cut_150.csv')

In [22]:
df = pd.concat([collection1_df,overall_test_df])
df

,Unnamed: 0,UID,input,output
0,0,343679,tarpaNo_bRMhaNo_balyo_vAtahRdroganASanaH,tarpaNaH__bRMhaNaH__balyaH__vAta_hRd_roga_nASanaH
1,1,248181,ityevaM_syAnnirutTAnaM_sevyaM_vAritaraM_Bavet,iti_evam_syAt_nirutTAnam_sevyam_vAritaram_Bavet_
2,2,263479,tIkzNEr_viriktaM_tadrUpEr_nirUhEH_samupAcaret,tIkzNEH__viriktam_tad_rUpEH__nirUhEH_samupAcaret_
3,3,178206,evam_ukto_nataSirA_munir_novAca_kiMcana,evam_uktaH__nata_SirAH__muniH__na_uvAca_kiMcana
4,4,231495,rasakABraM_kAntatAmre_BAgavRdDyA_DamettataH,rasaka_aBram_kAnta_tAmre_BAga_vRdDyA_Damet_tatas_
...,...,...,...,...
8455,10745,-1,deva_asura_ganDarva_yakza_rakzas_pitR_piSAca_n...,deva_asura_ganDarva_yakza_rakzas_pitR_piSAca_n...
8456,10746,-1,kroDaSokaBayaharzavizAderzyAByasUyAdEnyamAtsar...,kroDa_Soka_Baya_harza_vizAda_IrzyA_aByasUyA_dE...
8457,10747,-1,pravAta_nivAta_Atapa_CAyA_jyotsnA_tamas_SIta_u...,pravAta_nivAta_Atapa_CAyA_jyotsnA_tamas_SIta_u...
8458,10749,-1,grAma_nagara_devatAyatana_SmaSAna_catuzpaTa_sa...,grAma_nagara_devatAyatana_SmaSAna_catuzpaTa_sa...
8459,10754,-1,arkAlarkakaraQjadvayanAgadantImayUrakaBArgIrAs...,arka_alarka_karaQja_dvaya_nAgadantI_mayUraka_B...

In [23]:
df = df.drop(columns=["Unnamed: 0"])
df

,UID,input,output
0,343679,tarpaNo_bRMhaNo_balyo_vAtahRdroganASanaH,tarpaNaH__bRMhaNaH__balyaH__vAta_hRd_roga_nASanaH
1,248181,ityevaM_syAnnirutTAnaM_sevyaM_vAritaraM_Bavet,iti_evam_syAt_nirutTAnam_sevyam_vAritaram_Bavet_
2,263479,tIkzNEr_viriktaM_tadrUpEr_nirUhEH_samupAcaret,tIkzNEH__viriktam_tad_rUpEH__nirUhEH_samupAcaret_
3,178206,evam_ukto_nataSirA_munir_novAca_kiMcana,evam_uktaH__nata_SirAH__muniH__na_uvAca_kiMcana
4,231495,rasakABraM_kAntatAmre_BAgavRdDyA_DamettataH,rasaka_aBram_kAnta_tAmre_BAga_vRdDyA_Damet_tatas_
...,...,...,...
8455,-1,deva_asura_ganDarva_yakza_rakzas_pitR_piSAca_n...,deva_asura_ganDarva_yakza_rakzas_pitR_piSAca_n...
8456,-1,kroDaSokaBayaharzavizAderzyAByasUyAdEnyamAtsar...,kroDa_Soka_Baya_harza_vizAda_IrzyA_aByasUyA_dE...
8457,-1,pravAta_nivAta_Atapa_CAyA_jyotsnA_tamas_SIta_u...,pravAta_nivAta_Atapa_CAyA_jyotsnA_tamas_SIta_u...
8458,-1,grAma_nagara_devatAyatana_SmaSAna_catuzpaTa_sa...,grAma_nagara_devatAyatana_SmaSAna_catuzpaTa_sa...
8459,-1,arkAlarkakaraQjadvayanAgadantImayUrakaBArgIrAs...,arka_alarka_karaQja_dvaya_nAgadantI_mayUraka_B...

In [32]:
df.to_csv("/home/vp.shivasan/word_segmentation/TransLIST-H22/H22-data/overall_test.csv",index=None)

In [30]:
df.loc[df["UID"]==-1,"UID"] = list(range(620000,620000+6037))
df

,UID,input,output
0,343679,tarpaNo_bRMhaNo_balyo_vAtahRdroganASanaH,tarpaNaH__bRMhaNaH__balyaH__vAta_hRd_roga_nASanaH
1,248181,ityevaM_syAnnirutTAnaM_sevyaM_vAritaraM_Bavet,iti_evam_syAt_nirutTAnam_sevyam_vAritaram_Bavet_
2,263479,tIkzNEr_viriktaM_tadrUpEr_nirUhEH_samupAcaret,tIkzNEH__viriktam_tad_rUpEH__nirUhEH_samupAcaret_
3,178206,evam_ukto_nataSirA_munir_novAca_kiMcana,evam_uktaH__nata_SirAH__muniH__na_uvAca_kiMcana
4,231495,rasakABraM_kAntatAmre_BAgavRdDyA_DamettataH,rasaka_aBram_kAnta_tAmre_BAga_vRdDyA_Damet_tatas_
...,...,...,...
8455,626032,deva_asura_ganDarva_yakza_rakzas_pitR_piSAca_n...,deva_asura_ganDarva_yakza_rakzas_pitR_piSAca_n...
8456,626033,kroDaSokaBayaharzavizAderzyAByasUyAdEnyamAtsar...,kroDa_Soka_Baya_harza_vizAda_IrzyA_aByasUyA_dE...
8457,626034,pravAta_nivAta_Atapa_CAyA_jyotsnA_tamas_SIta_u...,pravAta_nivAta_Atapa_CAyA_jyotsnA_tamas_SIta_u...
8458,626035,grAma_nagara_devatAyatana_SmaSAna_catuzpaTa_sa...,grAma_nagara_devatAyatana_SmaSAna_catuzpaTa_sa...
8459,626036,arkAlarkakaraQjadvayanAgadantImayUrakaBArgIrAs...,arka_alarka_karaQja_dvaya_nAgadantI_mayUraka_B...

In [28]:
len(list(range(620000,620000+6037)))

6037

In [38]:
collection_trans_df = pd.read_csv("/home/vp.shivasan/word_segmentation/TransLIST-H22/H22-data/collection1_sent_Translist_cut_150.csv")
overall_test = pd.read_csv("/home/vp.shivasan/word_segmentation/TransLIST-H22/H22-data/overall_test.csv")

In [40]:
overall_test

,UID,input,output
0,343679,tarpaNo_bRMhaNo_balyo_vAtahRdroganASanaH,tarpaNaH__bRMhaNaH__balyaH__vAta_hRd_roga_nASanaH
1,248181,ityevaM_syAnnirutTAnaM_sevyaM_vAritaraM_Bavet,iti_evam_syAt_nirutTAnam_sevyam_vAritaram_Bavet_
2,263479,tIkzNEr_viriktaM_tadrUpEr_nirUhEH_samupAcaret,tIkzNEH__viriktam_tad_rUpEH__nirUhEH_samupAcaret_
3,178206,evam_ukto_nataSirA_munir_novAca_kiMcana,evam_uktaH__nata_SirAH__muniH__na_uvAca_kiMcana
4,231495,rasakABraM_kAntatAmre_BAgavRdDyA_DamettataH,rasaka_aBram_kAnta_tAmre_BAga_vRdDyA_Damet_tatas_
...,...,...,...
511747,626032,deva_asura_ganDarva_yakza_rakzas_pitR_piSAca_n...,deva_asura_ganDarva_yakza_rakzas_pitR_piSAca_n...
511748,626033,kroDaSokaBayaharzavizAderzyAByasUyAdEnyamAtsar...,kroDa_Soka_Baya_harza_vizAda_IrzyA_aByasUyA_dE...
511749,626034,pravAta_nivAta_Atapa_CAyA_jyotsnA_tamas_SIta_u...,pravAta_nivAta_Atapa_CAyA_jyotsnA_tamas_SIta_u...
511750,626035,grAma_nagara_devatAyatana_SmaSAna_catuzpaTa_sa...,grAma_nagara_devatAyatana_SmaSAna_catuzpaTa_sa...
511751,626036,arkAlarkakaraQjadvayanAgadantImayUrakaBArgIrAs...,arka_alarka_karaQja_dvaya_nAgadantI_mayUraka_B...

In [39]:
global_concat_df  =pd.concat([collection_trans_df,overall_test]).drop(["Unnamed: 0"],axis=1)
global_concat_df

,UID,input,output
0,343679,tarpaNo_bRMhaNo_balyo_vAtahRdroganASanaH,tarpaNaH__bRMhaNaH__balyaH__vAta_hRd_roga_nASanaH
1,248181,ityevaM_syAnnirutTAnaM_sevyaM_vAritaraM_Bavet,iti_evam_syAt_nirutTAnam_sevyam_vAritaram_Bavet_
2,263479,tIkzNEr_viriktaM_tadrUpEr_nirUhEH_samupAcaret,tIkzNEH__viriktam_tad_rUpEH__nirUhEH_samupAcaret_
3,178206,evam_ukto_nataSirA_munir_novAca_kiMcana,evam_uktaH__nata_SirAH__muniH__na_uvAca_kiMcana
4,231495,rasakABraM_kAntatAmre_BAgavRdDyA_DamettataH,rasaka_aBram_kAnta_tAmre_BAga_vRdDyA_Damet_tatas_
...,...,...,...
511747,626032,deva_asura_ganDarva_yakza_rakzas_pitR_piSAca_n...,deva_asura_ganDarva_yakza_rakzas_pitR_piSAca_n...
511748,626033,kroDaSokaBayaharzavizAderzyAByasUyAdEnyamAtsar...,kroDa_Soka_Baya_harza_vizAda_IrzyA_aByasUyA_dE...
511749,626034,pravAta_nivAta_Atapa_CAyA_jyotsnA_tamas_SIta_u...,pravAta_nivAta_Atapa_CAyA_jyotsnA_tamas_SIta_u...
511750,626035,grAma_nagara_devatAyatana_SmaSAna_catuzpaTa_sa...,grAma_nagara_devatAyatana_SmaSAna_catuzpaTa_sa...
511751,626036,arkAlarkakaraQjadvayanAgadantImayUrakaBArgIrAs...,arka_alarka_karaQja_dvaya_nAgadantI_mayUraka_B...